
.result-page{
    padding-top: 10px;
    background-color: #F5F5F5;

}
.result-head{
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    color:#3A3A3A;
    line-height: 120%;
    margin-left: 6%;
    padding-bottom: 30px;
    padding-top: 30px;
}
/* .product-list-content{
    margin-top: 20px;
    margin-left: 18px;
    height: 446px;
    width: 286px;
    display: flex;
    justify-content: center;
    background-color: #F4F5F7;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
} */


@media only screen and (max-width:500px ){

.result-head{
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    color:#3A3A3A;
    line-height: 120%;
    text-align: center;
  
}

}