*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.loading{
    height: 100vh;
    width: 100vw;
    display: flex; 
    justify-content: center;
    align-items: center;

}
.loadingScreen{
    font-size: 30px;  
    color: #ff7c2b;
    text-align: center;
    margin-top: 50px;

}
.loadingImg{
    margin-top: 200px;
    align-items: center; 
    height: 40px;
    width: 40px;
}


.Rectangle50{
    background-color: #FCF8F3  ;
    height: 774px;
    width: 100%;
    padding-top: 10px;
    position: relative;
    z-index: 0;
}

.Rectangle51{
    background-color: #FFE2CF    ;
    height: 784px ;
    width: 70%;
    margin-top :-101px;
    position: absolute;
    z-index: -1;

}
.Rectangle11{
    
    height: 520px;
    width: 450px;
    margin-top: 20px;
    margin-left: 80px;
    position: absolute;
    z-index: 1;
    background: rgba(255, 255, 255, 0.824);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main-carousel .carousel .control-dots{
        bottom: 520px;
    }
    .main-carousel .carousel .carousel-status {
        display: none;
    }
    .main-carousel .carousel .thumbs-wrapper {
        display: none;
    }
    .main-carousel .carousel .control-dots .dot{
        box-shadow: none;
        background: #D8D8D8 ;
        
    }
    .main-carousel .carousel .control-dots .dot.selected{
         background-color: rgb(255, 170, 65);
         border: 0.6px solid rgb(0, 0, 0);
    }
    
    .main-carousel .carousel .control-prev.control-arrow {
        left: 74%;
        background-color: #E89F71;
    
    }
    .main-carousel .carousel .control-next.control-arrow {
        right:16%;
        background-color: #E89F71;
    }
    
    .main-carousel .carousel.carousel-slider .control-arrow{
        height: 48px;
        width: 48px;
        border-radius: 50%;
        top :30px;
    }
    .main-carousel .carousel.carousel-slider .control-arrow:hover{
        background-color: #E89F71    ;
    }
    .main-carousel .carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before{
        margin: 0;
    }






.Head1-Rectangle11{
    padding-top: 40px;
    font-size: 56px;
    font-weight: 300;
    font-family: 'Gilroy-Regular', sans-serif;
    padding-left : 58px;
    letter-spacing: 0.5px;
    color: #3A3A3A;
}
.Head2-Rectangle11{
    padding-top: 35px;
    padding-left : 22px;
    font-size: 20px;
    width: 370px;
    color: #3A3A3A;
    line-height: 30px;
    font-weight: 100;
    letter-spacing: 0.5px;
    font-family: 'Gilroy-Regular', sans-serif;
}

.ShopNow{
    background-color: #E89F71;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 2px;
    margin-top: 35px;
    cursor: pointer;

}
.ShopNow:hover{
    background-color: #f9843b;
}

.carousel-image{
    padding-top: 100px;
    height: 600px;
    width: 1000px;
    margin-left: 15%;
    object-fit: contain;
}



.feature{
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    color: #3A3A3A    ;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.feature-container{
    display: flex;
    flex-direction: row;
}

.feature-icons{
    height :32px;
    margin-top: 5px;
    margin-right: 10px;
}

.feature-text-bold{
    margin-left: 15px;
    size: 18px;
    font-weight: 600;
    line-height: 150%;

}

.feature-text{
    margin-left: 15px;
    size: 18px;
    font-weight: 200;
    line-height: 150%;
}

.products-head{
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    color:#3A3A3A;
    line-height: 120%;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Gilroy-Regular', sans-serif;

}

.products-list{
    min-height: 500px !important;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    gap: 1fr;
    grid-template-columns: repeat(4,1fr);
    overflow: hidden;
}


.product-list-content{
    margin-top: 20px;
    margin-left: 18px;
    height: 446px;
    width: 286px;
    display: flex;
    justify-content: center;
    background-color: #F4F5F7;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    transition: 100ms ease-in;
}
.product-list-content:hover{
    transform: scale(1.02);
}

.product-image{
    width: 285px;
    height: 301px;
}



.product-details-desc{
    text-align: center;
    padding-top: 20px;
    font-family: 'Gilroy-Regular', sans-serif;

}
.product-details-desc-addtocart{
    position: absolute;
    opacity: 0;
    overflow: hidden;
    top: 0px;
    background-color: #000000ab;
    width: 0px;
    height: 0px;
    border: 1px solid black;
    transition:  250ms ease-in;
    transition-delay: 600ms;
}

.product-details-desc:hover .product-details-desc-addtocart{
    opacity: 1;
    width: 285px;
    height: 446px;
}

.product-details-desc-addtocart-button{
    margin-top: 160px;
    width: 180px;
    height: 45px;
    color: #ec955f;
    background-color: white;
    border: none;
    font-size: 15px;
    font-weight: 800;
    font-family: 'Gilroy-Regular', sans-serif;
    letter-spacing: 0.5px;
    border-radius: 2px;
    transition: 150ms ease-in;
}


.product-details-desc-addtocart-button:hover{
    background-color: #f48e4e;
    color: black;
}

.share-like-container{
    margin-left: 10%;
    width: 80%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 100;
}

.share-like{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 80px;
    height: 30px;
    margin-top: 0px;
    padding-top: 0px;
    color: white;
}

.wishlist-like{
    height: 20px;
    width: 20px;
}

.product-details-desc-name{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Gilroy-Regular', sans-serif;
    text-transform: capitalize;

}

.product-details-desc-description{
    padding-top: 15px;
    font-size: 16px;
    text-transform: capitalize;
    color: #898989;
    font-family: 'Gilroy-Regular', sans-serif;
}

.newPrice{
    font-size: 19px;
    font-weight: 600;
    color: #000000;
}

.strike{
    text-decoration: line-through;
    color: rgb(105, 105, 105);
    padding-left: 10px;
    font-size: 15px;
}
.showMore{
    margin-top: 30px;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    
}
.showMorebutton{
    height: 70px;
    width: 370px;
    background-color: transparent;
    border : 2px solid #ec955f;
    color: #f48e4e   ;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Gilroy-Regular', sans-serif;

}
.showMorebutton:hover{
    background-color: #ff7c2b;
    color: white;
}

.BG{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #FCF8F3;
    margin-bottom: 30px;
    overflow: hidden;
}

.BGtext{

    position: absolute;
    margin-left: 5%;
    width: 378px;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Gilroy-Regular', sans-serif;

}
.BGtext1{
    margin-left: 10px;
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
    font-family: 'Gilroy-Regular', sans-serif;

}
.BGtext2{
    margin-left: 10px;
    width: 358px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    font-family: 'Gilroy-Regular', sans-serif;

}
.exploreNowbutton{
    margin-top: 60px;
    height: 78px;
    width: 370px;
    background-color: #E89F71;
    border : none;
    color: white   ;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Gilroy-Regular', sans-serif;


}
.exploreNowbutton:hover{
    background-color: #ff873c;
}



.BGcarousal{
    position: absolute;
    left : 550px;
    object-fit: contain;
    overflow: hidden;
    width: 800px;
    height: 550px;
    cursor: pointer;
}


.carousel-BG{
    width: 450px;
    margin-left: 70px;
    height: fit-content;
    object-fit: cover;
}
.carousal-two{
    margin-top: 50px;
    height: 550px;
    width: 600px;
    margin-left: 25%;
    object-fit: contain;
}

.tips{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
    font-family: 'Gilroy-Regular', sans-serif;

    
}

.carouselEnd {
    position: relative;
    height: 400px;
    width: 60%;
    box-shadow: 0px 20px 70px rgba(128, 128, 128, 0.483);

   
  }
  
  .carouselEnd__slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
  
  
  .carouselEnd__button_prev{
    position: absolute;
    left: -20px;
    font-size: x-large;
    color:#f48e4e;
    top: 42%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.848);

  }  
  .carouselEnd__button_next{
    color:#f48e4e;
    font-size: x-large;
    position: absolute;
    top: 42%;
    right: -20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    border: none;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.848);

  }  

  .carouselEnd__button_prev:hover{
    background-color:#f9843b;
    color: black;
  }
  .carouselEnd__button_next:hover{
    background-color:#f9843b;
    color: black;
  }
.carouselEnd__caption{
    font-size: 22px;
    color:#3A3A3A;
    font-weight: 600;
    font-family: 'Gilroy-Regular', sans-serif;
}
.carouselEnd__caption_container{
    margin-top: 400px;
    height: 40px;
    background-color: #ffffff;
    display: flex;   
    align-items: center; 
    justify-content: center;
    border-radius: 0px 0px 4px 4px ;
    box-shadow: 0px 20px 30px rgba(128, 128, 128, 0.401);
}


@media only screen and (max-width:1400px ){

    .products-list{
        margin-left: 1%;
        margin-right: 1%;
        display: grid;
        gap: 1fr;
        grid-template-columns: repeat(4,1fr);
        
    }
    
}
@media only screen and (max-width:1250px ){
    .products-list{
        margin-left: 0%;
        margin-right: 0%;
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        width: 100%;
    }

    .product-list-content{
        margin-top: 20px;
        margin-left: 5%;
        margin-right: 0%;
        height: 446px;
        max-width:89%;
        display: flex;
        justify-content: center;
        background-color: #F4F5F7;
        cursor: pointer;
        border-radius: 5px;
        overflow: hidden;
    }

}
@media only screen and (max-width:1140px ){

.products-list{
    min-height: 500px;
    display: grid;
    margin-left: 0%;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);

}
.product-list-content{
    margin-left: 10%;
    margin-right: 0%;
}

.BG{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 600px;
    background-color: #FCF8F3;
    margin-bottom: 30px;

}

.BGcarousal{
    position: absolute;
    left : 50%;
    object-fit: contain;
    overflow: hidden;
    width: 50%;
    height: 550px;
    cursor: pointer;
}
.carousel-BG{
    overflow: hidden;
    width: 70%;
    margin-left: 0px;
    height: fit-content;
    object-fit: cover;
}
.carousal-two{
    margin-top: 50px;
    height: 550px;
    width: 100%;
    margin-left: 15%;
    object-fit: contain;
}
}

@media only screen and (max-width:900px ){
    .products-list{
        min-height: 500px !important;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2,1fr);
    
    }
}


@media only screen and (max-width:700px ){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    
    }
    
.Rectangle50{
    background-color: #FCF8F3  ;
    height: 744px;
    width: 100%;
    padding-top: 10px;
    position: relative;
    z-index: 0;
    overflow: hidden;
}


.Rectangle51{
    background-color: #F9F1E7;
    height: 754px ;
    width: 100%;
    margin-top :-101px;
    position: absolute;
    z-index: -1;

}
.Rectangle11{
    height: 420px;
    width: 300px;
    margin-top: 80px;
    margin-left: 20px;
    position: absolute;
    z-index: 1;
    background: rgba(255, 255, 255, 0.824);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main-carousel   .carousel .control-prev.control-arrow {
    display: none;

}
.main-carousel   .carousel .control-next.control-arrow {
    display: none;
}

.main-carousel{
    width: 1000px;
    overflow: hidden;
}
.main-carousel   .carousel .control-dots .dot{
    box-shadow: none;
    background: #D8D8D8 ;
    padding: 2px;
   
}

.main-carousel .carousel .control-dots{
    bottom: 10px;
    left: 0px;

}
.main-carousel  .carousel .control-dots .dot.selected{
    background-color: rgb(247, 137, 2);
    border: 0.6px solid rgb(0, 0, 0);
    padding: 6px;
    margin-bottom: -2px
}

.Head1-Rectangle11{
    padding-top: 30px;
    width: 280px;
    font-size: 42px;
    margin-left: -10px;
    font-weight: 100;
    font-family: 'Gilroy-Regular', sans-serif;
    padding-left : 30px;
    color: #3A3A3A;
}
.Head2-Rectangle11{
    padding-top: 20px;
    padding-left : 10px;
    font-size: 20px;
    width: 260px;
    color: #3A3A3A;
    line-height: 30px;
    font-weight: 100;
    font-family: 'Gilroy-Regular', sans-serif;
}

.ShopNow{
    display: none;

}


.carousel-image{
    padding-top: 0px;
    height: 600px;
    width: 1000px;
    margin-left: 0px;
    overflow: hidden;
}



.feature{
    display: none;

}



.products-head{
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    color:#3A3A3A;
    line-height: 120%;
    text-align: center;
  
}

.products-list{
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.product-list-content{
    margin-top: 20px;
    margin-left: 0px;
    height: 446px;
    width: 286px;
    display: flex;
    justify-content: center;
    background-color: #F4F5F7;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
}



.product-image{
    width: 285px;
    height: 301px
}
.product-details-desc{
    text-align: center;
    padding-top: 20px;
}
.product-details-desc-name{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Gilroy-Regular', sans-serif;
    text-transform: capitalize;

}

.product-details-desc-description{
    padding-top: 5px;
    font-size: 16px;
    text-transform: capitalize;
    font-family: 'Gilroy-Regular', sans-serif;
}
.showMore{
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-family: "Gilroy-Regular", sans-serif;

}


.BG{
    width: 100%;
    height: 600px;
    background-color: #FCF8F3;
    margin-bottom: 30px;
}

.BGtext{
    width: 100%;
    min-height: 570px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    
}
.BGtext1{
    width: 80%;
    margin: 0;
    font-size: 35px;
    font-weight: 300;
    line-height: 48px;
    width: 90%;
    text-align: center;
}
.BGtext2{
    margin: 0px;
    width: 80%;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.exploreNowbutton{
    margin-top: 60px;
    height: 78px;
    width: 80%;
    background-color: #E89F71;
    border : none;
    color: white   ;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Gilroy-Regular', sans-serif;


}
.exploreNowbutton:hover{
    background-color: #ff873c;
}
.BGcarousal{
    display: none;

}

.tips{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.tips-carousel{
    width: 100%;
}

.tips-carousal .carousel.thumbs-wrapper {
    display: none;
}
.tips-carousal .carousel.thumbs.animated {
    display: none;
}
.carouselEnd {
    position: relative;
    height: 400px;
    width: 90%;
    box-shadow: 0px 20px 70px rgba(128, 128, 128, 0.483);

   
  }
  .carouselEnd__caption{
    font-size: 15px;
    color:#3A3A3A;
    font-weight: 600;
    font-family: 'Gilroy-Regular', sans-serif;
    text-align: center;
}
}
