*{
    box-sizing: border-box;
    scroll-behavior: smooth;

}
.loading{
    height: 100%;
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;

}
.loadingScreen{
    font-size: 30px;  
    color: #ff7c2b;
    text-align: center;
    margin-top: 50px;

}
.loadingImg{
    margin-top: 200px;
    align-items: center; 
    height: 40px;
    width: 40px;
}
.BG-productPage{
    background-color: #F5F5F5;
    padding-top: 10px;

}

.product-content{
    height: 730px;
    width: 90vw;
    margin-left: 10vw;
    margin-top: 20px;
    position: relative;
}

.product-desc-image{
    position: absolute;
    width: 35vw;
    height: 100%;
}
.product-desc{
    position: absolute;
    right: 10vw;
    width: 45vw;
    height: 100%;
    /* border: 1px solid black; */

}
.product-type{
    width: 100%;
    height: 60px;
    padding-left: 10px;
    padding-top: 3px;
}
.text-main{
    font-weight: 600;
    letter-spacing: 1.4px;
}

.text{
    font-weight: 1000;
    margin-top: 5px;
    text-transform: capitalize;
}
.text-big{
    font-weight: 600;
    margin-top: 5px;
    text-transform: capitalize;
}

.imageBig{
    position: absolute;
    width: 450px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;   
}

.imageBig-content{
    width: 450px;
    height: 500px;
}

.imageSmall{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    top:580px;
    width: 450px;
    height: 120px;
    overflow: hidden;  
}

.imageSmall-content{
    width:105px;
    height: 120px;
    border-radius: 5px;


}
.dropdown-buttons{
   float:right;
   height: 40px;
}

.dropdown{
    margin-left: 15px;
    border: none;
    width: 70px;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;

}
.dropdown-options{
    padding-top: 10px;
}

.itemName{
    margin-top:65px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100px;
    text-transform: capitalize;

    /* border: 1px solid black; */
}
.price{
    margin-top: 5px;
}

.para{
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 0.3px;
    padding-top: 30px;
    color: #64748B;
    padding-bottom: 30px;
    text-transform: capitalize;

}
.color-selection{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    cursor: pointer;

}
.color-choice{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 0.5px solid black;
}


.cartDiv{
    margin-top: 30px;
    min-height: 50px;
}
.wishlist-icon{
    float: right;
    padding-top:25px;
    margin-right: 20px;
    width: 18px;
}

.addToCartButton{
    height: 50px;
    width: 340px;
    background-color: #E89F71;
    color: #ffffff   ;
    border: none;
    font-weight: 800;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.addToCartButton:hover{
  
    background-color: #fc8338;
    color: #ffffff   ;
   
}
.notInStock{
    height: 50px;
    width: 340px;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 800;
    padding-top: 20px;
    font-family: sans-serif;
    color: rgb(187, 15, 15);
}
.small-line{
    width: 96%;
    height: 1px;
    background-color: #D8D8D8;
    margin-left: 2%;
}

.product-features{
    width: 60vw;
    margin-left: 10vw;
    height: 200px;
}

.features-head{
    margin-top: 20px;
    color: #1E293B;
}
.features-desc{
    margin-top: 20px;
    font-size: 18px;
    color: #64748B;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.review-head{
    font-family: sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #1E293B;
    margin-left: 10vw;
    text-transform: capitalize;

}