*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar{
    width: 100vw;
    box-sizing: border-box;
    height: 80px;
    color: black;
    display: flex;
    flex-direction: row;
    position: relative;
}

.navbar_contents{
    height: 30px;
    margin-top: 20px;
    width: 40%;
    margin-left: 4%;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;

}


.brand-name{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 28px;
    padding-top: 0px;
    text-decoration: none;
    color: black;
    letter-spacing: 1.5px;
    font-weight: 100;
    cursor: pointer;
    padding-right: 25px;

}

.brand-name:hover{
  color: #f9843b;

}
.navbar-menu{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 16px;
    padding-top: 8px;
    font-weight: 300;
    letter-spacing: 0.8px;
    text-decoration: none;
    color: #3A3A3A;
    cursor: pointer;

}
.navbar-menu:hover{
  color: #f9843b;
  transform: scale(1.02);
  transform: translateY(-2px);
}
.navbar-menu-drop{
  z-index: 1000;
  color: #3A3A3A  ;
  margin-bottom: 10px;
  height: 25px;
  margin-top: 5px;
  background-color: transparent;
  border: none;
  width: 100px;
  padding-top: 2px;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.4px;
  font-family: 'Gilroy-Regular', sans-serif;
  text-transform: capitalize;
  cursor: pointer;

}
.navbar-menu-drop::after{
  padding-left: 5px;
  content: ' ▾';
  color: #3A3A3A;
}
.navbar-menu-drop:hover.navbar-menu-drop::after{
  padding-left: 5px;
  content: ' ';
  color: #3A3A3A;
}

.navbar-menu-drop:hover{
  color: #f9843b;
  transform: scale(1.02);
  transform: translateY(-2px);
}

.navbar-menu-drop-items{
  font-size: 16px;
  display: none;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 200px;
  padding-left: 10px;
  color: rgb(255, 255, 255);
  background-color: transparent;

}

.navbar-menu-drop:hover .navbar-menu-drop-items{
  display: block ;

}


.navbar-menu-drop-items:hover {
  color: #f9843b;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.656);
  border: 1px solid rgba(0, 0, 0, 0.334);
}

.dropdown-container{
  border-radius: 3px;
  border: 1px solid transparent;
  background-color: rgb(46, 46, 46);
  min-height: 200px;
  width: 202px;
  margin-top: 5px;
  display: none;
}
.navbar-menu-drop:hover .dropdown-container{
  display: block ;
  }

.search-box{
    margin-left: 0px;
    margin-right: 20px;
    height: 36px;
    width: 30%;
    margin-top: 20px;
    position: relative;
    border-radius: 4px;
  }
  .input-search{
    width: 90%;
    border-style: none;
    height: 36px;
    font-size: 13px;
    letter-spacing: 1px;
    font-family: 'Gilroy-Regular', sans-serif;
    outline: none;
    border-radius: 3px;
    transition: all .5s ease-in-out;
    background-color: white;
    padding-right: 40px;
    color:rgb(0, 0, 0);
    padding-left: 15px;
    margin-left: 40px;
  }
  .input-search::placeholder{
    color:#616161;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: 'Gilroy-Regular', sans-serif;

  }
  
  .input-search:focus{
    width: 100%;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-top: 2px solid black;
    border-bottom:1px solid rgb(230, 118, 26);
    border-right: 3.5px solid rgb(230, 118, 26) ;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus::placeholder{
    color: #ffffff;
  }

  
.icons{
    height: 40px;
    width: 180px;
    margin-top: 18px;
    margin-left: 100px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;

}

.cart-icon{

  width :28px;
   height: 28px;
}
.cart-qty{
  position:absolute;;
  height: 15px;
  width:15px;
  top: 15px;
  right:-5px;
  border-radius:50% ;
  background-color :orange;
}

.user-icon{
  width :32px;
  height :32px;
  
}
.heart{
  width: 24px;
  height : 24px;
}
.cart-qty0{
  display: none;
}
.dropdown-mobie-button{
  display: none;
}


@media only screen and (max-width:1200px ){
  .navbar_contents{
    height: 30px;
    width: 50%;
    margin-left: 7%;
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;

}
}
@media only screen and (max-width:500px ){

  .navbar{
    
    width: 100vw;
    box-sizing: border-box;
    height: 80px;
    color: black;
    display: flex;
    flex-direction: row;
    position: static;
}

.navbar-menu-drop::after{
  content: '';
  
}
.search-box{

    margin-left: 0px;
    height: 30px;
    width: 200px;
    margin-top: 25px;
    position: relative;
    border-radius: 4px;
  }
  .input-search{
    width: 180px;
    border-style: none;
    height: 30px;
    margin-left: 20px;
    font-size: 11px;
    letter-spacing: 0.5px;
    outline: none;
    border-radius: 3px;
    transition: all .5s ease-in-out;
    background-color: #ffffffbf;
    padding-right: 40px;
    color:rgb(0, 0, 0);
    padding-left: 15px;
  }
  
  
  .input-search:focus{
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-top: 2px solid black;
    border-bottom:1px solid rgb(230, 118, 26);
    border-right: 3.5px solid rgb(230, 118, 26) ;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }

  .input-search::placeholder{
    color:rgb(0, 0, 0);
    font-size: 11px;
    letter-spacing: 0.5px;
    font-weight: 100;
  }
  
  .cart-qty0{
    display: none;
  }

  
.icons{
    position: absolute;
    height: 40px;
    right: 0px;
    width: 100px;
    margin-top: 18px;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;

}
.cart-icon{
  width: 25px;
  height: 25px;
}

.cart-qty{
  position:absolute;;
  height: 10px;
  width:10px;
  top: 15px;
  right:-5px;
  border-radius:50% ;
  font-size: 9px;
  background-color :orange;
}

.user-icon{
  width :25px;
  height :20px;
  
}

.heart{
  width: 20px;
  height : 21px;
}
.dropdown-mobie-button{
  display: block;
  height: 30px;
  width: 30px;
  margin-top: 25px;
  margin-left: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.528);
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  align-items: center;
}
.dropdown-mobie-button:active{
  transform: scale(1.1);
}


.navbar_contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  text-align: center;
  z-index: 2;
  min-height: 160px;
  width: 130px;
  margin-left: 10px;
  padding: 0;
  margin-top: 60px;
  background-color: rgb(44, 44, 44);
  padding-bottom: 10px;
  border-radius: 2px;

}

.brand-name{ 
  font-family: 'Gilroy-Regular', sans-serif;
  font-size: 24px;
  padding: 0px;
  color: #f9843b;
  padding-top: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-weight: 100;
  cursor: pointer;
}

.navbar-menu-drop{
  color: #ffffff;
  height: 25px;
  padding: 0px;
  margin-top: 0px;
  padding-top: 5px;
  background-color: transparent;
  border: none;
  width: 130px;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  font-family: 'Gilroy-Regular', sans-serif;

}
.navbar-menu-drop:focus{
  color: #f9843b;
  transform: scale(1);
  transform: translateY(0px);
}
.navbar-menu-drop::after{
  content: "\0203A";
  color: #ffffff;
}

.navbar-menu{
  font-size: 14px;
  padding: 0px;
  font-weight: 100;
  color: #ffffff;
}

.dropdown-mobie-icon{
  height: 30px;
  width: 30px;

}
.dropdown-container{
  border-radius: 3px;
  border: 1px solid transparent;
  background-color: rgb(46, 46, 46);
  min-height: 200px;
  width: 140px;
  margin-top: -25px;
  margin-left: 128px;
  display: none;
}
.navbar-menu-drop-items{
  font-size: 14px;
  display: none;
  padding-top: 8px;
  padding-bottom: 10px;
  width: 130px;
  padding-left: 10px;
  color: rgb(255, 255, 255);
  background-color: transparent;

}

}