

.mainDiv{
    position: relative;
    width: 100%;
    min-height: 28vw;


}

.divLeft{
    width: 28vw;
    height: 28vw;
    position: absolute;
}
.divRight{
    height: 28vw;
    position: absolute;
    left:25vw;
    width: 72vw;

}

.grid-containerLeft{
    margin-left: 25%;
    width: 250px;
    margin-top: 30px;
    font-size: 13px;
    display: grid;
    column-gap: 130px;
    row-gap: 30px;
    padding-top: 40px;
    letter-spacing: 0.3px;
}
.grid-containerRight{
    display: inline-grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    padding-top: 40px;
    margin-left: 100px;
    margin-top: 30px;
    font-size: 13px;
    font-weight: 100;
    column-gap: 70px;
    row-gap: 25px;
}



.grid-item{
    color: rgb(95, 95, 95);
    text-decoration: none;
    cursor: pointer;

}

.grid-item:hover{
    text-decoration: underline;
}

.grid-item-head{
    color: rgb(0, 0, 0);
    font-size: 26px;
    font-weight: 100;
    cursor: pointer;

}

.grid-item-head1{
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 100;
    text-decoration: none;

}




@media only screen and (max-width:900px ) and (orientation:landscape){
    .endinfo{
        height: 400px;
        width: 100%;
    }

    .grid-container{
        font-size: 13px;
        margin-left: 8vw;
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 90px;
        row-gap: 20px;
        padding-top: 40px;
    
    }
    .grid-containerLeft{
        margin-left: 15%;
    }
  
    
   
}

@media only screen and (max-width:1080px){
    .endinfo{
        width: 100vw;

    }
    .mainDiv{
        width: 100%;
        min-height: 400px;
        overflow: hidden;
    }
    .divLeft{
        width: 30%;
        min-height: 400px;
        overflow: hidden;


    }
  
    .divRight{
        min-height: 400px;
        overflow: hidden;
        width: 70%;
        left: 30%;
    }

    .grid-containerLeft{
        margin-left: 10%;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        row-gap: 1fr;
        padding-top: 0px;
        letter-spacing: 0.3px;
    }
    .grid-containerRight{
        margin-left: 4%;
        font-size: 12px;
        row-gap: 1fr;
        padding-top: 0px;
        letter-spacing: 0.3px;
    }

    .grid-item-head1{
        font-size: 18px;
    }
}

@media only screen and (max-width:700px){
    
    .endinfo{
        width: 100vw;

    }
    .mainDiv{
        width: 100vw;
        min-height: 550px;
    }
    .divLeft{
        width: 100vw;

    }
  
    
    .grid-containerLeft{
        width: 300px;
        height: 500px;
        margin-left: 20px;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        padding-top: 40px;
        letter-spacing: 0.3px;
    }
    .divRight{
        display: none;
    }
}
